@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300&display=swap');

/* * {border: 1px solid white;} */
body{
    background-color: rgb(49, 49, 49);
    font-family: 'Quicksand','sans-serif';

    display: flex;
    align-items: center;
    justify-content: center;
}

div.container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
}

div.cardlayout{
    height: 500px;
    width: 500px;
    padding: 10px;

    border: 2px solid rgb(73, 72, 72);
    border-radius: 8px;
    background-image: linear-gradient(to right,rgb(24, 24, 24),rgb(66, 66, 66));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.header{
    padding: 15px 40px 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span.place{
    color: rgb(240, 255, 255);
    font-size: 38px;
}
span.time {
    color: rgb(192, 194, 194);
    font-size: 30px;
}

div.svg {
    height: 300px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
div.svg img {
    height: 200px;
    color: orange;
}

div.more {
    height: 100px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.more .two {
    height: 100px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.more .temp {
    width: 130px;
    margin-right: 35px;
    color: aliceblue;
    font-size: 75px;
    font-weight: 500;
    text-align: right;

}

.two span{
    color: aliceblue;
    font-size: 24px;
    display: flex;
    align-items: center;
}

img.wind {
    height: 28px;
    margin-right: 14px;
}